*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

admin/_MACOSX
admin/assets/
admin/bower_components/
admin/dist/
admin/editors/
admin/plugins/
admin/xcurd/
admin/config.php/

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/schema/
/vendor/
/assets/img/
/assets/media/
/assets/fonts/
/node_modules/
/system/
.htaccess
error_log
_MACOSX
.ftpquota

application/config/config.php
application/config/database.php
/blog/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea_modules/

*.tgz
*.zip
*.sql
*.xml
*.iml
